<main class="main">
    <section class="cart-recurring container">
        <img src="./img/page.jpg" alt="alt" class="cart-recurrin__img">
        <div class="cart-recurring-form-inside">
            <p class="sub-title">
                Subscription
            </p>
            <h3 class="title">
                Make this entire <br> cart recurring?
            </h3>
            <form action="" class="cart-recurring-form">
                <p class="check-holder">
                    <input type="radio" name="radio" id="c1"  checked />
                    <label for="c1">One-time purchase
                    </label>
                  </p>
                  <p class ="check-holder">
                    <input type="radio" name="radio" id="c2"  />
                    <label for="c2">Subscribe
                </label>
                  </p>
            </form>
            <p class="cart-recurring-text">By continuing you agree to Pearly's policy
                Terms of Service</p>
        <div class="rounded--orange rounded rounded--get" ></div>

        </div>
    </section>
    <section class="products container">
        <ul class="products-grid">
            <li class="product-item">
                <div class="left-info">
                    <div class="product__title product__title--orange">
                        Ambar
                    </div>
                    <p class="product__sub-title">
                        Repair
                    </p>
                    <p class="product__description">
                        Vit C for skin +
                        immunity Antioxidants to fight cell aging <br>
                        Gut-friendly fiber
                    </p>
                    <div class="ingradients-holder">
                        <ul class="ingradients-list">
                            <li class="ingradients-list__item"><span>passion fruit</span></li>
                            <li class="ingradients-list__item"><span>banana</span></li>
                            <li class="ingradients-list__item"><span>dates</span></li>
                            <li class="ingradients-list__item"><span>apple</span></li>
                        </ul>
                        <ul class="ingradients-list">
                            <li class="ingradients-list__item"><span>baobabt</span></li>
                            <li class="ingradients-list__item"><span>yellow beetroot</span></li>
                            <li class="ingradients-list__item"><span>chia seeds</span></li>
                            <li class="ingradients-list__item"><span>turmeric </span></li>
                        

                        </ul>
                    </div>
                </div>

                <div class="rigft-info rigft-info--ambar">
                    <button class="show-info" id="show">
                        Nutrition<br>
                        facts
                    </button>
                    <div class="hidden-info hidden-info--orange is-open"> 
                        <div class="hidden-header">
                            <div class="hidden-title">Nutrition facts</div>
                        <button class="close" id="closeBtn"> 
                            <svg>
                                <use xlink:href="./img/icons/sprite.svg#close"></use>
                            </svg> 
                        </button>
                        </div>
                        <div class="hidden-main">
                            <p class="size-info">
                                Serving size, 1 packet (20g)
                            </p>
                            <div class="amount">
                                <div class="amount-text">
                                    <p>
                                        amount per serving
                                    </p>
                                    <p >
                                        calories
                                    </p>
                                </div>
                                <p class="calories">70</p>
                            </div>
                            <table>
                                <tr class="table-header">
                                    <td colspan="2">% daily value*</td>
                                </tr>
                                <tr>
                                    <td>total fat 0g </td>
                                    <td>0%</td>
                                </tr>
                                
                                <tr>
                                    <td>saturated fat 0g</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>trans fat 0g</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>sodium 5mg</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>total carbohydrate 16g</td>
                                    <td>6%</td>
                                </tr>
                                <tr>
                                    <td>dietary fiber 3g</td>
                                    <td>11%</td>
                                </tr>
                                <tr>
                                    <td>total sugars 11g</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>includes 0g added sugars</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>protein 1g</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>vitamin c 20mg</td>
                                    <td>20%</td>
                                </tr>
                                <tr>
                                    <td>iron 0.8mg</td>
                                    <td>4%</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item">
                <div class="left-info">
                    <div class="product__title product__title--brown">
                        Ruby
                    </div>
                    <p class="product__sub-title">
                        Perfomance
                    </p>
                    <p class="product__description">
                        Nitrates for blood flow
                        Folate for fatigue
                        Antioxidants for heart health
                    </p>
                    <div class="ingradients-holder">
                        <ul class="ingradients-list">
                            <li class="ingradients-list__item"><span>passion fruit</span></li>
                            <li class="ingradients-list__item"><span>banana</span></li>
                            <li class="ingradients-list__item"><span>dates</span></li>
                            <li class="ingradients-list__item"><span>apple</span></li>
                        </ul>
                        <ul class="ingradients-list">
                            <li class="ingradients-list__item"><span>baobabt</span></li>
                            <li class="ingradients-list__item"><span>yellow beetroot</span></li>
                            <li class="ingradients-list__item"><span>chia seeds</span></li>
                            <li class="ingradients-list__item"><span>turmeric </span></li>
                        

                        </ul>
                    </div>
                </div>

                <div class="rigft-info rigft-info--ruby">
                    <button class="show-info" id="show">
                        Nutrition<br>
                        facts
                    </button>
                    <div class="hidden-info hidden-info--brown"> 

                        <div class="hidden-header">
                            <div class="hidden-title">Nutrition facts</div>
                        <button class="close" id="closeBtn"> 
                            <svg>
                                <use xlink:href="./img/icons/sprite.svg#close"></use>
                            </svg> 
                        </button>
                        </div>
                        <div class="hidden-main">
                            <p class="size-info">
                                Serving size, 1 packet (20g)
                            </p>
                            <div class="amount">
                                <div class="amount-text">
                                    <p>
                                        amount per serving
                                    </p>
                                    <p >
                                        calories
                                    </p>
                                </div>
                                <p class="calories">70</p>
                            </div>
                            <table>
                                <tr class="table-header">
                                    <td colspan="2">% daily value*</td>
                                </tr>
                                <tr>
                                    <td>total fat 0g </td>
                                    <td>0%</td>
                                </tr>
                                
                                <tr>
                                    <td>saturated fat 0g</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>trans fat 0g</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>sodium 5mg</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>total carbohydrate 16g</td>
                                    <td>6%</td>
                                </tr>
                                <tr>
                                    <td>dietary fiber 3g</td>
                                    <td>11%</td>
                                </tr>
                                <tr>
                                    <td>total sugars 11g</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>includes 0g added sugars</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>protein 1g</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>vitamin c 20mg</td>
                                    <td>20%</td>
                                </tr>
                                <tr>
                                    <td>iron 0.8mg</td>
                                    <td>4%</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item">
                <div class="left-info">
                    <div class="product__title product__title--semiorange">
                        Taffelite
                    </div>
                    <p class="product__sub-title">
                        Endurance
                    </p>
                    <p class="product__description">
                        Nitrates for blood flow
                        Folate for fatigue
                        Antioxidants for heart health
                    </p>
                    <div class="ingradients-holder">
                        <ul class="ingradients-list">
                            <li class="ingradients-list__item"><span>passion fruit</span></li>
                            <li class="ingradients-list__item"><span>banana</span></li>
                            <li class="ingradients-list__item"><span>dates</span></li>
                            <li class="ingradients-list__item"><span>apple</span></li>
                        </ul>
                        <ul class="ingradients-list">
                            <li class="ingradients-list__item"><span>baobabt</span></li>
                            <li class="ingradients-list__item"><span>yellow beetroot</span></li>
                            <li class="ingradients-list__item"><span>chia seeds</span></li>
                            <li class="ingradients-list__item"><span>turmeric </span></li>
                        

                        </ul>
                    </div>
                </div>

                <div class="rigft-info rigft-info--taffelite">
                    <button class="show-info" id="show">
                        Nutrition<br>
                        facts
                    </button>
                    <div class="hidden-info hidden-info--taffelite"> 

                        <div class="hidden-header">
                            <div class="hidden-title">Nutrition facts</div>
                        <button class="close" id="closeBtn"> 
                            <svg>
                                <use xlink:href="./img/icons/sprite.svg#close"></use>
                            </svg> 
                        </button>
                        </div>
                        <div class="hidden-main">
                            <p class="size-info">
                                Serving size, 1 packet (20g)
                            </p>
                            <div class="amount">
                                <div class="amount-text">
                                    <p>
                                        amount per serving
                                    </p>
                                    <p >
                                        calories
                                    </p>
                                </div>
                                <p class="calories">70</p>
                            </div>
                            <table>
                                <tr class="table-header">
                                    <td colspan="2">% daily value*</td>
                                </tr>
                                <tr>
                                    <td>total fat 0g </td>
                                    <td>0%</td>
                                </tr>
                                
                                <tr>
                                    <td>saturated fat 0g</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>trans fat 0g</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>sodium 5mg</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>total carbohydrate 16g</td>
                                    <td>6%</td>
                                </tr>
                                <tr>
                                    <td>dietary fiber 3g</td>
                                    <td>11%</td>
                                </tr>
                                <tr>
                                    <td>total sugars 11g</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>includes 0g added sugars</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>protein 1g</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>vitamin c 20mg</td>
                                    <td>20%</td>
                                </tr>
                                <tr>
                                    <td>iron 0.8mg</td>
                                    <td>4%</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item">
                <div class="left-info">
                    <div class="product__title product__title--green">
                        Emerald
                    </div>
                    <p class="product__sub-title">
                        Repair
                    </p>
                    <p class="product__description">
                        Vit C for skin +
                            immunity Antioxidants to fight cell aging 
                            Gut-friendly fiber
                    </p>
                    <div class="ingradients-holder">
                        <ul class="ingradients-list">
                            <li class="ingradients-list__item"><span>passion fruit</span></li>
                            <li class="ingradients-list__item"><span>banana</span></li>
                            <li class="ingradients-list__item"><span>dates</span></li>
                            <li class="ingradients-list__item"><span>apple</span></li>
                        </ul>
                        <ul class="ingradients-list">
                            <li class="ingradients-list__item"><span>baobabt</span></li>
                            <li class="ingradients-list__item"><span>yellow beetroot</span></li>
                            <li class="ingradients-list__item"><span>chia seeds</span></li>
                            <li class="ingradients-list__item"><span>turmeric </span></li>
                        

                        </ul>
                    </div>
                </div>

                <div class="rigft-info rigft-info--ambar">
                    <button class="show-info" id="show">
                        Nutrition<br>
                        facts
                    </button>
                    <div class="hidden-info hidden-info--emerald is-open"> 

                        <div class="hidden-header">
                            <div class="hidden-title">Nutrition facts</div>
                        <button class="close" id="closeBtn"> 
                            <svg>
                                <use xlink:href="./img/icons/sprite.svg#close"></use>
                            </svg> 
                        </button>
                        </div>
                        <div class="hidden-main">
                            <p class="size-info">
                                Serving size, 1 packet (20g)
                            </p>
                            <div class="amount">
                                <div class="amount-text">
                                    <p>
                                        amount per serving
                                    </p>
                                    <p >
                                        calories
                                    </p>
                                </div>
                                <p class="calories">70</p>
                            </div>
                            <table>
                                <tr class="table-header">
                                    <td colspan="2">% daily value*</td>
                                </tr>
                                <tr>
                                    <td>total fat 0g </td>
                                    <td>0%</td>
                                </tr>
                                
                                <tr>
                                    <td>saturated fat 0g</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>trans fat 0g</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>sodium 5mg</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>total carbohydrate 16g</td>
                                    <td>6%</td>
                                </tr>
                                <tr>
                                    <td>dietary fiber 3g</td>
                                    <td>11%</td>
                                </tr>
                                <tr>
                                    <td>total sugars 11g</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>includes 0g added sugars</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>protein 1g</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>vitamin c 20mg</td>
                                    <td>20%</td>
                                </tr>
                                <tr>
                                    <td>iron 0.8mg</td>
                                    <td>4%</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
            <li class="product-item">
                <div class="left-info">
                    <div class="product__title product__title--grey">
                        Alexandrite
                    </div>
                    <p class="product__sub-title">
                        Brain boost
                    </p>
                    <p class="product__description">
                        Antioxidants for your brain Calcium for heart health Gut-friendly fiber
                    </p>
                    <div class="ingradients-holder">
                        <ul class="ingradients-list">
                            <li class="ingradients-list__item"><span>passion fruit</span></li>
                            <li class="ingradients-list__item"><span>banana</span></li>
                            <li class="ingradients-list__item"><span>dates</span></li>
                            <li class="ingradients-list__item"><span>apple</span></li>
                        </ul>
                        <ul class="ingradients-list">
                            <li class="ingradients-list__item"><span>baobabt</span></li>
                            <li class="ingradients-list__item"><span>yellow beetroot</span></li>
                            <li class="ingradients-list__item"><span>chia seeds</span></li>
                            <li class="ingradients-list__item"><span>turmeric </span></li>
                        

                        </ul>
                    </div>
                </div>

                <div class="rigft-info rigft-info--alexandrite">
                    <button class="show-info" id="show">
                        Nutrition<br>
                        facts
                    </button>
                    <div class="hidden-info hidden-info--alexandrite"> 
                        <div class="hidden-header">
                            <div class="hidden-title">Nutrition facts</div>
                        <button class="close" id="closeBtn"> 
                            <svg>
                                <use xlink:href="./img/icons/sprite.svg#close"></use>
                            </svg> 
                        </button>
                        </div>
                        <div class="hidden-main">
                            <p class="size-info">
                                Serving size, 1 packet (20g)
                            </p>
                            <div class="amount">
                                <div class="amount-text">
                                    <p>
                                        amount per serving
                                    </p>
                                    <p >
                                        calories
                                    </p>
                                </div>
                                <p class="calories">70</p>
                            </div>
                            <table>
                                <tr class="table-header">
                                    <td colspan="2">% daily value*</td>
                                </tr>
                                <tr>
                                    <td>total fat 0g </td>
                                    <td>0%</td>
                                </tr>
                                
                                <tr>
                                    <td>saturated fat 0g</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>trans fat 0g</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>sodium 5mg</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>total carbohydrate 16g</td>
                                    <td>6%</td>
                                </tr>
                                <tr>
                                    <td>dietary fiber 3g</td>
                                    <td>11%</td>
                                </tr>
                                <tr>
                                    <td>total sugars 11g</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>includes 0g added sugars</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>protein 1g</td>
                                    <td>0%</td>
                                </tr>
                                <tr>
                                    <td>vitamin c 20mg</td>
                                    <td>20%</td>
                                </tr>
                                <tr>
                                    <td>iron 0.8mg</td>
                                    <td>4%</td>
                                </tr>
                            </table>
                        </div>
                    
                    </div>
                </div>
            </li>
        </ul>
    </section>
</main>
@@include('./../include/_reviews.html')