$colorGreen:#D4E0DC ;
$colorOrange:#FCC8AA ;
$colorBrown: #D6C5BF;
$colorDark: #002519;

$fontBlacker: 'Blacker-Text';
$fontWork: 'WorkSans-Medium';
body {
    font-family: $fontWork;
}

// .icon {
//     display: block;
//     width: 20px;
//     height: 20px;
 
// }